<mat-sidenav-container>

</mat-sidenav-container>
<mat-sidenav-content>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <div>
            <button>Home</button>
            <h4>mat-select</h4>
            <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </mat-toolbar>
</mat-sidenav-content>